body {
    font-family: sans-serif;
    margin-top: 20px;
    color: grey;
}

.center {
    text-align: center;
}

.para {
    text-align: center;
    color: white;
}


.text-big {
    font-size: 300%;
    color: white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container { 
                    max-width: 800px;
                    margin: 0 auto;
                    color: #4a4444;
                    font-family: sans-serif;
                    padding-top: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
            }

